.card
  - if pic.image?
    = link_to (image_tag pic.image.url(:medium), class: "card-img-top")

  .card-body
    %h2.card-title= link_to pic.title, pic
    %p.card-text= truncate(pic.description, length: 50)

  .card-footer.text-muted
    Pic by
    = pic.user.email
    | Posted
    = time_ago_in_words(pic.updated_at)
