.card
  - if pic.image?
    = link_to (image_tag pic.image.url(:medium), class: "card-img-top"), pic

  .card-body
    %h2.card-title= link_to pic.title, pic
    %p.card-text= truncate(pic.description, length: 50)

  .card-footer.text-muted
    %small
      Pic by
      = pic.user.email
    %br
    %small
      Posted
      = time_ago_in_words(pic.updated_at)
    - if user_signed_in?
      %br
      %small
        = link_to like_pic_path(pic), method: :put, class: "btn btn-default" do
          = fa_icon "thumbs-o-up"
          = pic.get_upvotes.size
    - else
      %br
      %small
        = fa_icon "thumbs-o-up"
        = pic.get_upvotes.size
